<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="com.continuuity.weave.internal.logging.KafkaAppender">
        <topic>log</topic>
    </appender>

    <logger name="org.apache.zookeeper" level="WARN" />

    <logger name="com.continuuity.weave.internal.logging.KafkaAppender" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="KAFKA"/>
    </root>

</configuration>