<?xml version="1.0" encoding="UTF-8"?>

<!--                                                                         -->
<!-- AppFabric Logging Configuration                                         -->
<!--                                                                         -->
<!-- We use the LogBack project for logging in AppFabric. The manual for     -->
<!-- Logback can be found here: http://logback.qos.ch/manual                 -->
<!--                                                                         -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="com.continuuity.weave.internal.logging.KafkaAppender">
        <zkConnectStr>localhost:2181</zkConnectStr>
        <hostname>localhost</hostname>
        <topic>log</topic>
    </appender>

    <logger name="org.apache.zookeeper" level="WARN" />

    <logger name="com.continuuity.weave" level="DEBUG" />

    <logger name="com.continuuity.weave.internal.logging.KafkaAppender" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <!--<appender-ref ref="KAFKA"/>-->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>